body{

    background-color: rgb(140, 31, 31);
}
.banner{

    font-family: "Cursive","Lucida Console", "Courier New", monospace;
    font-size: 72px;
    padding: 32px;
    margin: 32px;
    text-align: center;
    background-color: bisque;
    
}

.recipes{

    font-family: "Cursive","Lucida Console", "Courier New", monospace;
    font-size: 72px;
    padding: 32px;
    margin: 32px;
    text-align: center;
    background-color: bisque;
    
    
}

.recipes img {
    width: 500px;
    height: 500px;
 
  }
  
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

  